extends layout
block content
    div.container-fluid
            table.table.table-striped.table-bordered.table-hover.sortable
                thead
                   tr
                      th="Id"
                      th="Name"
                      th="Date"
                      th="Address"
                tbody
                    each o in orders
                         tr
                           th
                               a(href="/orderdetails/#{o._id}")
                                 =o._id
                           td
                             =o.shipName
                           td
                             =o.orderDate
                           td
                             =o.shipAddress