extends layout
block content
    div.container-fluid
        table.table.table-striped.table-bordered.table-hover.sortable
            thead
                tr
                    th Id
                    th Name
                    th Quantity per Unit
                    th Unit Price
                    th Units in Stock
                    th Units on Order
                    th Reorder Level
                    th Discontinued
            tbody
                each p in products
                    tr
                        th
                          a(href='/orders/product/#{p._id}') #{p._id}
                        td #{p.name}
                        td #{p.quantityPerUnit}
                        td #{p.unitPrice}
                        td #{p.unitsInStock}
                        td #{p.unitsOnOrder}
                        td #{p.reorderLevel}
                        td #{p.discontinued}

